body {
    font-family: "Roboto";
    margin: 0;
}

header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 200px;
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    font-style: none;
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

footer {
    justify-content: center;
}

.one, .four {
    padding: 100px 200px;
}

.one {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.one-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one-top {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}

.one-middle {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 500px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 50px;
}

.two-top {
    font-size: 36px;
    font-weight: 700;
}

.two-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card div {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.card p {
    max-width: 200px;
    text-align: center;
    font-size: 18px;
}